<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

# Horizontal Bar Chart Races

In [1]:
from IPython.core.interactiveshell import InteractiveShell
import warnings
warnings.filterwarnings("ignore")
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas_alive

covid_df = pandas_alive.load_dataset()


def current_total(values):
    total = values.sum()
    s = f'Total : {int(total)}'
    return {'x': .85, 'y': .2, 's': s, 'ha': 'right', 'size': 11}


covid_df.plot_animated(
    filename='examples/summary-func-example.gif', period_summary_func=current_total)

Generating BarChartRace, plotting ['Belgium', 'Brazil', 'Canada', 'China', 'France', 'Germany', 'India', 'Indonesia', 'Iran', 'Ireland', 'Italy', 'Mexico', 'Netherlands', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'USA', 'United Kingdom']

BarChartRace(df=                     Belgium  Brazil  Canada   China   France  Germany  India  \
date
2020-02-26 00:00:00      NaN     NaN     NaN  2717.0      2.0      NaN    NaN
2020-02-26 04:48:00      NaN     NaN     NaN  2722.8      2.0      NaN    NaN
2020-02-26 09:36:00      NaN     NaN     NaN  2728.6      2.0      NaN    NaN
2020-02-26 14:24:00      NaN     NaN     NaN  2734.4      2.0      NaN    NaN
2020-02-26 19:12:00      NaN     NaN     NaN  2740.2      2.0      NaN    NaN
...                      ...     ...     ...     ...      ...      ...    ...
2020-04-21 04:48:00   6050.8  2774.0  1941.4  4636.0  20937.8   5082.2  652.2
2020-04-21 09:36:00   6103.6  2807.0  1974.8  4636.0  21046.6   5131.4  659.4
2020-04-21 14:24:00   6156.4  2840.0  2008.2  4636.0  21155.4   5180.6  666.6
2020-04-21 19:12:00   6209.2  2873.0  2041.6  4636.0  21264.2   5229.8  673.8
2020-04-22 00:00:00   6262.0  2906.0  2075.0  4636.0  21373.0   5279.0  681.0

                     Indonesia    Iran  Ireland    Italy  Mexico  Netherlands  \
date
2020-02-26 00:00:00        NaN    19.0      NaN     12.0     NaN          NaN
2020-02-26 04:48:00        NaN    20.4      NaN     13.0     NaN          NaN
2020-02-26 09:36:00        NaN    21.8      NaN     14.0     NaN          NaN
2020-02-26 14:24:00        NaN    23.2      NaN     15.0     NaN          NaN
2020-02-26 19:12:00        NaN    24.6      NaN     16.0     NaN          NaN
...                        ...     ...      ...      ...     ...          ...
2020-04-21 04:48:00      619.8  5315.8    737.8  24735.4   741.0       3956.8
2020-04-21 09:36:00      623.6  5334.6    745.6  24822.8   770.0       3984.6
2020-04-21 14:24:00      627.4  5353.4    753.4  24910.2   799.0       4012.4
2020-04-21 19:12:00      631.2  5372.2    761.2  24997.6   828.0       4040.2
2020-04-22 00:00:00      635.0  5391.0    769.0  25085.0   857.0       4068.0

                     Portugal    Spain  Sweden  Switzerland  Turkey      USA  \
date
2020-02-26 00:00:00       NaN      NaN     NaN          NaN     NaN      NaN
2020-02-26 04:48:00       NaN      NaN     NaN          NaN     NaN      NaN
2020-02-26 09:36:00       NaN      NaN     NaN          NaN     NaN      NaN
2020-02-26 14:24:00       NaN      NaN     NaN          NaN     NaN      NaN
2020-02-26 19:12:00       NaN      NaN     NaN          NaN     NaN      NaN
...                       ...      ...     ...          ...     ...      ...
2020-04-21 04:48:00     766.6  21369.0  1799.4       1484.2  2282.4  44883.2
2020-04-21 09:36:00     771.2  21456.0  1833.8       1490.4  2305.8  45319.4
2020-04-21 14:24:00     775.8  21543.0  1868.2       1496.6  2329.2  45755.6
2020-04-21 19:12:00     780.4  21630.0  1902.6       1502.8  2352.6  46191.8
2020-04-22 00:00:00     785.0  21717.0  1937.0       1509.0  2376.0  46628.0

                     United Kingdom
date
2020-02-26 00:00:00             NaN
2020-02-26 04:48:00             NaN
2020-02-26 09:36:00             NaN
2020-02-26 14:24:00             NaN
2020-02-26 19:12:00             NaN
...                             ...
2020-04-21 04:48:00         17532.6
2020-04-21 09:36:00         17687.2
2020-04-21 14:24:00         17841.8
2020-04-21 19:12:00         17996.4
2020-04-22 00:00:00         18151.0

[281 rows x 20 columns], interpolate_period=True, steps_per_period=5, period_length=500, period_fmt='%d/%m/%Y', figsize=array([6.5, 3.5]), title=None, fig=<Figure size 936x504 with 1 Axes>, cmap='dark24', tick_label_size=7, period_label=True, period_summary_func=<function current_total at 0x10b568820>, fixed_max=False, dpi=144, writer=None, enable_progress_bar=False, kwargs={}, orientation='h', sort='desc', label_bars=True, bar_label_size=7, n_visible=20, fixed_order=False, perpendicular_bar_func=None)

In [3]:
from IPython.display import Image
Image(url='examples/summary-func-example.gif')

In [4]:
import pandas as pd
import pandas_alive

elec_df = pd.read_csv("data/Aus_Elec_Gen_1980_2018.csv",
                      index_col=0, parse_dates=[0], thousands=',')

elec_df.fillna(0).plot_animated('examples/example-electricity-generated-australia.gif', period_fmt="%Y",
                                title='Australian Electricity Generation Sources 1980-2018')

Generating BarChartRace, plotting ['  Black coal', '  Brown coal', '  Natural gas', '  Oil products', '  Other a', '  Biomass', '  Wind', '  Hydro', 'Large-scale solar PV', '  Small-scale solar PV', '  Geothermal']

BarChartRace(df=                       Black coal    Brown coal    Natural gas  \
index
1989-01-01 00:00:00      87573.00     33594.000      14359.000
1989-03-15 01:12:00      87960.60     34084.800      13641.600
1989-05-27 02:24:00      88348.20     34575.600      12924.200
1989-08-08 03:36:00      88735.80     35066.400      12206.800
1989-10-20 04:48:00      89123.40     35557.200      11489.400
...                           ...           ...            ...
2016-03-14 19:12:00     118936.36     42059.608      51135.678
2016-05-26 20:24:00     119600.42     40561.456      51811.606
2016-08-07 21:36:00     120264.48     39063.304      52487.534
2016-10-19 22:48:00     120928.54     37565.152      53163.462
2017-01-01 00:00:00     121592.60     36067.000      53839.390

                       Oil products    Other a    Biomass       Wind  \
index
1989-01-01 00:00:00        3552.000        0.0    750.000      0.000
1989-03-15 01:12:00        3520.800        0.0    753.800      0.000
1989-05-27 02:24:00        3489.600        0.0    757.600      0.000
1989-08-08 03:36:00        3458.400        0.0    761.400      0.000
1989-10-20 04:48:00        3427.200        0.0    765.200      0.000
...                             ...        ...        ...        ...
2016-03-14 19:12:00        5270.592        0.0   3507.258  13075.476
2016-05-26 20:24:00        5268.594        0.0   3513.966  13553.962
2016-08-07 21:36:00        5266.596        0.0   3520.674  14032.448
2016-10-19 22:48:00        5264.598        0.0   3527.382  14510.934
2017-01-01 00:00:00        5262.600        0.0   3534.090  14989.420

                         Hydro  Large-scale solar PV    Small-scale solar PV  \
index
1989-01-01 00:00:00  14880.000                 0.000                    0.00
1989-03-15 01:12:00  15124.600                 0.000                    0.00
1989-05-27 02:24:00  15369.200                 0.000                    0.00
1989-08-08 03:36:00  15613.800                 0.000                    0.00
1989-10-20 04:48:00  15858.400                 0.000                    0.00
...                        ...                   ...                     ...
2016-03-14 19:12:00  16195.676               739.436                 7703.88
2016-05-26 20:24:00  16106.462               806.472                 8008.50
2016-08-07 21:36:00  16017.248               873.508                 8313.12
2016-10-19 22:48:00  15928.034               940.544                 8617.74
2017-01-01 00:00:00  15838.820              1007.580                 8922.36

                       Geothermal
index
1989-01-01 00:00:00           0.0
1989-03-15 01:12:00           0.0
1989-05-27 02:24:00           0.0
1989-08-08 03:36:00           0.0
1989-10-20 04:48:00           0.0
...                           ...
2016-03-14 19:12:00           0.4
2016-05-26 20:24:00           0.3
2016-08-07 21:36:00           0.2
2016-10-19 22:48:00           0.1
2017-01-01 00:00:00           0.0

[141 rows x 11 columns], interpolate_period=True, steps_per_period=5, period_length=500, period_fmt='%Y', figsize=array([6.5, 3.5]), title='Australian Electricity Generation Sources 1980-2018', fig=<Figure size 936x504 with 1 Axes>, cmap='dark24', tick_label_size=7, period_label=True, period_summary_func=None, fixed_max=False, dpi=144, writer=None, enable_progress_bar=False, kwargs={}, orientation='h', sort='desc', label_bars=True, bar_label_size=7, n_visible=11, fixed_order=False, perpendicular_bar_func=None)

In [5]:
from IPython.display import Image
Image(url='examples/example-electricity-generated-australia.gif')

In [6]:
import pandas as pd
import pandas_alive

elec_df = pd.read_csv("data/Aus_Elec_Gen_1980_2018.csv",
                      index_col=0, parse_dates=[0], thousands=',')

elec_df.fillna(0).plot_animated('examples/fixed-example.gif', period_fmt="%Y",
                                title='Australian Electricity Generation Sources 1980-2018', fixed_max=True, fixed_order=True)

Generating BarChartRace, plotting ['  Black coal', '  Natural gas', '  Brown coal', '  Hydro', '  Wind', '  Small-scale solar PV', '  Oil products', '  Biomass', 'Large-scale solar PV', '  Other a', '  Geothermal']

BarChartRace(df=                       Black coal    Natural gas    Brown coal      Hydro  \
index
1989-01-01 00:00:00      87573.00      14359.000     33594.000  14880.000
1989-03-15 01:12:00      87960.60      13641.600     34084.800  15124.600
1989-05-27 02:24:00      88348.20      12924.200     34575.600  15369.200
1989-08-08 03:36:00      88735.80      12206.800     35066.400  15613.800
1989-10-20 04:48:00      89123.40      11489.400     35557.200  15858.400
...                           ...            ...           ...        ...
2016-03-14 19:12:00     118936.36      51135.678     42059.608  16195.676
2016-05-26 20:24:00     119600.42      51811.606     40561.456  16106.462
2016-08-07 21:36:00     120264.48      52487.534     39063.304  16017.248
2016-10-19 22:48:00     120928.54      53163.462     37565.152  15928.034
2017-01-01 00:00:00     121592.60      53839.390     36067.000  15838.820

                          Wind    Small-scale solar PV    Oil products  \
index
1989-01-01 00:00:00      0.000                    0.00        3552.000
1989-03-15 01:12:00      0.000                    0.00        3520.800
1989-05-27 02:24:00      0.000                    0.00        3489.600
1989-08-08 03:36:00      0.000                    0.00        3458.400
1989-10-20 04:48:00      0.000                    0.00        3427.200
...                        ...                     ...             ...
2016-03-14 19:12:00  13075.476                 7703.88        5270.592
2016-05-26 20:24:00  13553.962                 8008.50        5268.594
2016-08-07 21:36:00  14032.448                 8313.12        5266.596
2016-10-19 22:48:00  14510.934                 8617.74        5264.598
2017-01-01 00:00:00  14989.420                 8922.36        5262.600

                       Biomass  Large-scale solar PV    Other a    Geothermal
index
1989-01-01 00:00:00    750.000                 0.000        0.0           0.0
1989-03-15 01:12:00    753.800                 0.000        0.0           0.0
1989-05-27 02:24:00    757.600                 0.000        0.0           0.0
1989-08-08 03:36:00    761.400                 0.000        0.0           0.0
1989-10-20 04:48:00    765.200                 0.000        0.0           0.0
...                        ...                   ...        ...           ...
2016-03-14 19:12:00   3507.258               739.436        0.0           0.4
2016-05-26 20:24:00   3513.966               806.472        0.0           0.3
2016-08-07 21:36:00   3520.674               873.508        0.0           0.2
2016-10-19 22:48:00   3527.382               940.544        0.0           0.1
2017-01-01 00:00:00   3534.090              1007.580        0.0           0.0

[141 rows x 11 columns], interpolate_period=True, steps_per_period=5, period_length=500, period_fmt='%Y', figsize=array([6.5, 3.5]), title='Australian Electricity Generation Sources 1980-2018', fig=<Figure size 936x504 with 1 Axes>, cmap='dark24', tick_label_size=7, period_label=True, period_summary_func=None, fixed_max=True, dpi=144, writer=None, enable_progress_bar=False, kwargs={}, orientation='h', sort='desc', label_bars=True, bar_label_size=7, n_visible=11, fixed_order=True, perpendicular_bar_func=None)

In [7]:
from IPython.display import Image
Image(url='examples/fixed-example.gif')

In [8]:
import pandas_alive

covid_df = pandas_alive.load_dataset()

covid_df.plot_animated(
    filename='examples/perpendicular-example.gif', perpendicular_bar_func='mean')

Generating BarChartRace, plotting ['Belgium', 'Brazil', 'Canada', 'China', 'France', 'Germany', 'India', 'Indonesia', 'Iran', 'Ireland', 'Italy', 'Mexico', 'Netherlands', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'USA', 'United Kingdom']

BarChartRace(df=                     Belgium  Brazil  Canada   China   France  Germany  India  \
date
2020-02-26 00:00:00      NaN     NaN     NaN  2717.0      2.0      NaN    NaN
2020-02-26 04:48:00      NaN     NaN     NaN  2722.8      2.0      NaN    NaN
2020-02-26 09:36:00      NaN     NaN     NaN  2728.6      2.0      NaN    NaN
2020-02-26 14:24:00      NaN     NaN     NaN  2734.4      2.0      NaN    NaN
2020-02-26 19:12:00      NaN     NaN     NaN  2740.2      2.0      NaN    NaN
...                      ...     ...     ...     ...      ...      ...    ...
2020-04-21 04:48:00   6050.8  2774.0  1941.4  4636.0  20937.8   5082.2  652.2
2020-04-21 09:36:00   6103.6  2807.0  1974.8  4636.0  21046.6   5131.4  659.4
2020-04-21 14:24:00   6156.4  2840.0  2008.2  4636.0  21155.4   5180.6  666.6
2020-04-21 19:12:00   6209.2  2873.0  2041.6  4636.0  21264.2   5229.8  673.8
2020-04-22 00:00:00   6262.0  2906.0  2075.0  4636.0  21373.0   5279.0  681.0

                     Indonesia    Iran  Ireland    Italy  Mexico  Netherlands  \
date
2020-02-26 00:00:00        NaN    19.0      NaN     12.0     NaN          NaN
2020-02-26 04:48:00        NaN    20.4      NaN     13.0     NaN          NaN
2020-02-26 09:36:00        NaN    21.8      NaN     14.0     NaN          NaN
2020-02-26 14:24:00        NaN    23.2      NaN     15.0     NaN          NaN
2020-02-26 19:12:00        NaN    24.6      NaN     16.0     NaN          NaN
...                        ...     ...      ...      ...     ...          ...
2020-04-21 04:48:00      619.8  5315.8    737.8  24735.4   741.0       3956.8
2020-04-21 09:36:00      623.6  5334.6    745.6  24822.8   770.0       3984.6
2020-04-21 14:24:00      627.4  5353.4    753.4  24910.2   799.0       4012.4
2020-04-21 19:12:00      631.2  5372.2    761.2  24997.6   828.0       4040.2
2020-04-22 00:00:00      635.0  5391.0    769.0  25085.0   857.0       4068.0

                     Portugal    Spain  Sweden  Switzerland  Turkey      USA  \
date
2020-02-26 00:00:00       NaN      NaN     NaN          NaN     NaN      NaN
2020-02-26 04:48:00       NaN      NaN     NaN          NaN     NaN      NaN
2020-02-26 09:36:00       NaN      NaN     NaN          NaN     NaN      NaN
2020-02-26 14:24:00       NaN      NaN     NaN          NaN     NaN      NaN
2020-02-26 19:12:00       NaN      NaN     NaN          NaN     NaN      NaN
...                       ...      ...     ...          ...     ...      ...
2020-04-21 04:48:00     766.6  21369.0  1799.4       1484.2  2282.4  44883.2
2020-04-21 09:36:00     771.2  21456.0  1833.8       1490.4  2305.8  45319.4
2020-04-21 14:24:00     775.8  21543.0  1868.2       1496.6  2329.2  45755.6
2020-04-21 19:12:00     780.4  21630.0  1902.6       1502.8  2352.6  46191.8
2020-04-22 00:00:00     785.0  21717.0  1937.0       1509.0  2376.0  46628.0

                     United Kingdom
date
2020-02-26 00:00:00             NaN
2020-02-26 04:48:00             NaN
2020-02-26 09:36:00             NaN
2020-02-26 14:24:00             NaN
2020-02-26 19:12:00             NaN
...                             ...
2020-04-21 04:48:00         17532.6
2020-04-21 09:36:00         17687.2
2020-04-21 14:24:00         17841.8
2020-04-21 19:12:00         17996.4
2020-04-22 00:00:00         18151.0

[281 rows x 20 columns], interpolate_period=True, steps_per_period=5, period_length=500, period_fmt='%d/%m/%Y', figsize=array([6.5, 3.5]), title=None, fig=<Figure size 936x504 with 1 Axes>, cmap='dark24', tick_label_size=7, period_label=True, period_summary_func=None, fixed_max=False, dpi=144, writer=None, enable_progress_bar=False, kwargs={}, orientation='h', sort='desc', label_bars=True, bar_label_size=7, n_visible=20, fixed_order=False, perpendicular_bar_func='mean')

In [9]:
from IPython.display import Image
Image(url='examples/perpendicular-example.gif')

# Vertical Bar Chart Races

In [10]:
import pandas_alive

covid_df = pandas_alive.load_dataset()

covid_df.plot_animated(
    filename='examples/example-barv-chart.gif', orientation='v')

Generating BarChartRace, plotting ['Belgium', 'Brazil', 'Canada', 'China', 'France', 'Germany', 'India', 'Indonesia', 'Iran', 'Ireland', 'Italy', 'Mexico', 'Netherlands', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'USA', 'United Kingdom']

BarChartRace(df=                     Belgium  Brazil  Canada   China   France  Germany  India  \
date
2020-02-26 00:00:00      NaN     NaN     NaN  2717.0      2.0      NaN    NaN
2020-02-26 04:48:00      NaN     NaN     NaN  2722.8      2.0      NaN    NaN
2020-02-26 09:36:00      NaN     NaN     NaN  2728.6      2.0      NaN    NaN
2020-02-26 14:24:00      NaN     NaN     NaN  2734.4      2.0      NaN    NaN
2020-02-26 19:12:00      NaN     NaN     NaN  2740.2      2.0      NaN    NaN
...                      ...     ...     ...     ...      ...      ...    ...
2020-04-21 04:48:00   6050.8  2774.0  1941.4  4636.0  20937.8   5082.2  652.2
2020-04-21 09:36:00   6103.6  2807.0  1974.8  4636.0  21046.6   5131.4  659.4
2020-04-21 14:24:00   6156.4  2840.0  2008.2  4636.0  21155.4   5180.6  666.6
2020-04-21 19:12:00   6209.2  2873.0  2041.6  4636.0  21264.2   5229.8  673.8
2020-04-22 00:00:00   6262.0  2906.0  2075.0  4636.0  21373.0   5279.0  681.0

                     Indonesia    Iran  Ireland    Italy  Mexico  Netherlands  \
date
2020-02-26 00:00:00        NaN    19.0      NaN     12.0     NaN          NaN
2020-02-26 04:48:00        NaN    20.4      NaN     13.0     NaN          NaN
2020-02-26 09:36:00        NaN    21.8      NaN     14.0     NaN          NaN
2020-02-26 14:24:00        NaN    23.2      NaN     15.0     NaN          NaN
2020-02-26 19:12:00        NaN    24.6      NaN     16.0     NaN          NaN
...                        ...     ...      ...      ...     ...          ...
2020-04-21 04:48:00      619.8  5315.8    737.8  24735.4   741.0       3956.8
2020-04-21 09:36:00      623.6  5334.6    745.6  24822.8   770.0       3984.6
2020-04-21 14:24:00      627.4  5353.4    753.4  24910.2   799.0       4012.4
2020-04-21 19:12:00      631.2  5372.2    761.2  24997.6   828.0       4040.2
2020-04-22 00:00:00      635.0  5391.0    769.0  25085.0   857.0       4068.0

                     Portugal    Spain  Sweden  Switzerland  Turkey      USA  \
date
2020-02-26 00:00:00       NaN      NaN     NaN          NaN     NaN      NaN
2020-02-26 04:48:00       NaN      NaN     NaN          NaN     NaN      NaN
2020-02-26 09:36:00       NaN      NaN     NaN          NaN     NaN      NaN
2020-02-26 14:24:00       NaN      NaN     NaN          NaN     NaN      NaN
2020-02-26 19:12:00       NaN      NaN     NaN          NaN     NaN      NaN
...                       ...      ...     ...          ...     ...      ...
2020-04-21 04:48:00     766.6  21369.0  1799.4       1484.2  2282.4  44883.2
2020-04-21 09:36:00     771.2  21456.0  1833.8       1490.4  2305.8  45319.4
2020-04-21 14:24:00     775.8  21543.0  1868.2       1496.6  2329.2  45755.6
2020-04-21 19:12:00     780.4  21630.0  1902.6       1502.8  2352.6  46191.8
2020-04-22 00:00:00     785.0  21717.0  1937.0       1509.0  2376.0  46628.0

                     United Kingdom
date
2020-02-26 00:00:00             NaN
2020-02-26 04:48:00             NaN
2020-02-26 09:36:00             NaN
2020-02-26 14:24:00             NaN
2020-02-26 19:12:00             NaN
...                             ...
2020-04-21 04:48:00         17532.6
2020-04-21 09:36:00         17687.2
2020-04-21 14:24:00         17841.8
2020-04-21 19:12:00         17996.4
2020-04-22 00:00:00         18151.0

[281 rows x 20 columns], interpolate_period=True, steps_per_period=5, period_length=500, period_fmt='%d/%m/%Y', figsize=array([6.5, 3.5]), title=None, fig=<Figure size 936x504 with 1 Axes>, cmap='dark24', tick_label_size=7, period_label=True, period_summary_func=None, fixed_max=False, dpi=144, writer=None, enable_progress_bar=False, kwargs={}, orientation='v', sort='desc', label_bars=True, bar_label_size=7, n_visible=20, fixed_order=False, perpendicular_bar_func=None)

In [11]:
from IPython.display import Image
Image(url='examples/example-barv-chart.gif')

# Line Charts
With as many lines as data columns in the DataFrame.

In [12]:
import pandas_alive

covid_df = pandas_alive.load_dataset()

covid_df.diff().fillna(0).plot_animated(filename='examples/example-line-chart.gif',
                                        kind='line', period_label={'x': 0.25, 'y': 0.9})

Generating LineChart, plotting ['Belgium', 'Brazil', 'Canada', 'China', 'France', 'Germany', 'India', 'Indonesia', 'Iran', 'Ireland', 'Italy', 'Mexico', 'Netherlands', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'USA', 'United Kingdom']

LineChart(df=                     Belgium  Brazil  Canada  China  France  Germany  India  \
date
2020-02-26 00:00:00      0.0     0.0     0.0    0.0     0.0      0.0    0.0
2020-02-26 04:48:00      0.0     0.0     0.0    5.8     0.0      0.0    0.0
2020-02-26 09:36:00      0.0     0.0     0.0   11.6     0.0      0.0    0.0
2020-02-26 14:24:00      0.0     0.0     0.0   17.4     0.0      0.0    0.0
2020-02-26 19:12:00      0.0     0.0     0.0   23.2     0.0      0.0    0.0
...                      ...     ...     ...    ...     ...      ...    ...
2020-04-21 04:48:00    188.8   156.2   179.8    0.0   538.4    186.0   49.6
2020-04-21 09:36:00    207.6   158.4   176.6    0.0   539.8    201.0   46.2
2020-04-21 14:24:00    226.4   160.6   173.4    0.0   541.2    216.0   42.8
2020-04-21 19:12:00    245.2   162.8   170.2    0.0   542.6    231.0   39.4
2020-04-22 00:00:00    264.0   165.0   167.0    0.0   544.0    246.0   36.0

                     Indonesia  Iran  Ireland  Italy  Mexico  Netherlands  \
date
2020-02-26 00:00:00        0.0   0.0      0.0    0.0     0.0          0.0
2020-02-26 04:48:00        0.0   1.4      0.0    1.0     0.0          0.0
2020-02-26 09:36:00        0.0   2.8      0.0    2.0     0.0          0.0
2020-02-26 14:24:00        0.0   4.2      0.0    3.0     0.0          0.0
2020-02-26 19:12:00        0.0   5.6      0.0    4.0     0.0          0.0
...                        ...   ...      ...    ...     ...          ...
2020-04-21 04:48:00       24.6  89.2     42.2  514.6    49.8        159.8
2020-04-21 09:36:00       23.2  90.4     41.4  495.2    73.6        154.6
2020-04-21 14:24:00       21.8  91.6     40.6  475.8    97.4        149.4
2020-04-21 19:12:00       20.4  92.8     39.8  456.4   121.2        144.2
2020-04-22 00:00:00       19.0  94.0     39.0  437.0   145.0        139.0

                     Portugal  Spain  Sweden  Switzerland  Turkey     USA  \
date
2020-02-26 00:00:00       0.0    0.0     0.0          0.0     0.0     0.0
2020-02-26 04:48:00       0.0    0.0     0.0          0.0     0.0     0.0
2020-02-26 09:36:00       0.0    0.0     0.0          0.0     0.0     0.0
2020-02-26 14:24:00       0.0    0.0     0.0          0.0     0.0     0.0
2020-02-26 19:12:00       0.0    0.0     0.0          0.0     0.0     0.0
...                       ...    ...     ...          ...     ...     ...
2020-04-21 04:48:00      26.2  431.0   182.4         45.4   118.6  2316.2
2020-04-21 09:36:00      25.4  432.0   179.8         41.8   118.2  2282.4
2020-04-21 14:24:00      24.6  433.0   177.2         38.2   117.8  2248.6
2020-04-21 19:12:00      23.8  434.0   174.6         34.6   117.4  2214.8
2020-04-22 00:00:00      23.0  435.0   172.0         31.0   117.0  2181.0

                     United Kingdom
date
2020-02-26 00:00:00             0.0
2020-02-26 04:48:00             0.0
2020-02-26 09:36:00             0.0
2020-02-26 14:24:00             0.0
2020-02-26 19:12:00             0.0
...                             ...
2020-04-21 04:48:00           817.0
2020-04-21 09:36:00           806.0
2020-04-21 14:24:00           795.0
2020-04-21 19:12:00           784.0
2020-04-22 00:00:00           773.0

[281 rows x 20 columns], interpolate_period=True, steps_per_period=5, period_length=500, period_fmt='%d/%m/%Y', figsize=array([6.5, 3.5]), title=None, fig=<Figure size 936x504 with 1 Axes>, cmap='dark24', tick_label_size=7, period_label={'x': 0.25, 'y': 0.9}, period_summary_func=None, fixed_max=False, dpi=144, writer=None, enable_progress_bar=False, kwargs={}, line_width=2, label_events=None, fill_under_line_color=None, add_legend=True)

In [13]:
from IPython.display import Image
Image(url='examples/example-line-chart.gif')

# Bar Charts
Similar to line charts with time as the x-axis.

In [15]:
!pip install tqdm

Collecting tqdm
  Downloading tqdm-4.64.1-py2.py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.5/78.5 kB 1.5 MB/s eta 0:00:00a 0:00:01
Installing collected packages: tqdm
Successfully installed tqdm-4.64.1

In [16]:
import pandas_alive

covid_df = pandas_alive.load_dataset()

covid_df.sum(axis=1).fillna(0).plot_animated(filename='examples/example-bar-chart.gif', kind='bar',
                                             period_label={'x': 0.1, 'y': 0.9},
                                             enable_progress_bar=True, steps_per_period=2, interpolate_period=True, period_length=200
                                             )

Generating BarChart, plotting ['0']

  0%|          | 0/113 [00:00<?, ?it/s]

BarChart(df=                            0
date
2020-02-26 00:00:00    2750.0
2020-02-26 12:00:00    2770.5
2020-02-27 00:00:00    2791.0
2020-02-27 12:00:00    2819.0
2020-02-28 00:00:00    2847.0
...                       ...
2020-04-20 00:00:00  160955.0
2020-04-20 12:00:00  164024.0
2020-04-21 00:00:00  167093.0
2020-04-21 12:00:00  170106.5
2020-04-22 00:00:00  173120.0

[113 rows x 1 columns], interpolate_period=True, steps_per_period=2, period_length=200, period_fmt='%d/%m/%Y', figsize=array([6.5, 3.5]), title=None, fig=<Figure size 936x504 with 1 Axes>, cmap='dark24', tick_label_size=7, period_label={'x': 0.1, 'y': 0.9}, period_summary_func=None, fixed_max=False, dpi=144, writer=None, enable_progress_bar=True, kwargs={})

In [17]:
from IPython.display import Image
Image(url='examples/example-bar-chart.gif')

# Scatter Charts

In [18]:
import pandas as pd
import pandas_alive

max_temp_df = pd.read_csv(
    "data/Newcastle_Australia_Max_Temps.csv",
    parse_dates={"Timestamp": ["Year", "Month", "Day"]},
)
min_temp_df = pd.read_csv(
    "data/Newcastle_Australia_Min_Temps.csv",
    parse_dates={"Timestamp": ["Year", "Month", "Day"]},
)

merged_temp_df = pd.merge_asof(max_temp_df, min_temp_df, on="Timestamp")

merged_temp_df.index = pd.to_datetime(
    merged_temp_df["Timestamp"].dt.strftime('%Y/%m/%d'))

keep_columns = [
    "Minimum temperature (Degree C)", "Maximum temperature (Degree C)"]

merged_temp_df[keep_columns].resample("Y").mean().plot_animated(
    filename='examples/example-scatter-chart.gif', kind="scatter", title='Max & Min Temperature Newcastle, Australia')

Generating ScatterChart, plotting ['Minimum temperature (Degree C)', 'Maximum temperature (Degree C)']

ScatterChart(df=                               Minimum temperature (Degree C)  \
Timestamp
1957-12-31 00:00:00.000000000                       14.502727
1958-03-14 01:13:08.571428571                       14.628573
1958-05-26 02:26:17.142857142                       14.754419
1958-08-07 03:39:25.714285712                       14.880264
1958-10-19 04:52:34.285714284                       15.006110
...                                                       ...
2020-03-13 19:07:25.714285568                       16.157607
2020-05-25 20:20:34.285714176                       16.816040
2020-08-06 21:33:42.857142784                       17.474473
2020-10-18 22:46:51.428571392                       18.132906
2020-12-31 00:00:00.000000000                       18.791339

                               Maximum temperature (Degree C)
Timestamp
1957-12-31 00:00:00.000000000                       21.561212
1958-03-14 01:13:08.571428571                       21.525994
1958-05-26 02:26:17.142857142                       21.490777
1958-08-07 03:39:25.714285712                       21.455559
1958-10-19 04:52:34.285714284                       21.420342
...                                                       ...
2020-03-13 19:07:25.714285568                       23.516883
2020-05-25 20:20:34.285714176                       23.885281
2020-08-06 21:33:42.857142784                       24.253680
2020-10-18 22:46:51.428571392                       24.622078
2020-12-31 00:00:00.000000000                       24.990476

[316 rows x 2 columns], interpolate_period=True, steps_per_period=5, period_length=500, period_fmt='%d/%m/%Y', figsize=array([6.5, 3.5]), title='Max & Min Temperature Newcastle, Australia', fig=<Figure size 936x504 with 1 Axes>, cmap='dark24', tick_label_size=7, period_label=True, period_summary_func=None, fixed_max=False, dpi=144, writer=None, enable_progress_bar=False, kwargs={}, size=2, add_legend=True)

In [19]:
from IPython.display import Image
Image(url='examples/example-scatter-chart.gif')

# Pie Charts

In [21]:
import pandas_alive

covid_df = pandas_alive.load_dataset()


covid_df.plot_animated(filename='examples/example-pie-chart.gif',
                       kind="pie", rotatelabels=True, period_label={'x': 0, 'y': 0})

Generating PieChart, plotting ['Belgium', 'Brazil', 'Canada', 'China', 'France', 'Germany', 'India', 'Indonesia', 'Iran', 'Ireland', 'Italy', 'Mexico', 'Netherlands', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'USA', 'United Kingdom']

PieChart(df=                     Belgium  Brazil  Canada   China   France  Germany  India  \
date
2020-02-26 00:00:00      NaN     NaN     NaN  2717.0      2.0      NaN    NaN
2020-02-26 04:48:00      NaN     NaN     NaN  2722.8      2.0      NaN    NaN
2020-02-26 09:36:00      NaN     NaN     NaN  2728.6      2.0      NaN    NaN
2020-02-26 14:24:00      NaN     NaN     NaN  2734.4      2.0      NaN    NaN
2020-02-26 19:12:00      NaN     NaN     NaN  2740.2      2.0      NaN    NaN
...                      ...     ...     ...     ...      ...      ...    ...
2020-04-21 04:48:00   6050.8  2774.0  1941.4  4636.0  20937.8   5082.2  652.2
2020-04-21 09:36:00   6103.6  2807.0  1974.8  4636.0  21046.6   5131.4  659.4
2020-04-21 14:24:00   6156.4  2840.0  2008.2  4636.0  21155.4   5180.6  666.6
2020-04-21 19:12:00   6209.2  2873.0  2041.6  4636.0  21264.2   5229.8  673.8
2020-04-22 00:00:00   6262.0  2906.0  2075.0  4636.0  21373.0   5279.0  681.0

                     Indonesia    Iran  Ireland    Italy  Mexico  Netherlands  \
date
2020-02-26 00:00:00        NaN    19.0      NaN     12.0     NaN          NaN
2020-02-26 04:48:00        NaN    20.4      NaN     13.0     NaN          NaN
2020-02-26 09:36:00        NaN    21.8      NaN     14.0     NaN          NaN
2020-02-26 14:24:00        NaN    23.2      NaN     15.0     NaN          NaN
2020-02-26 19:12:00        NaN    24.6      NaN     16.0     NaN          NaN
...                        ...     ...      ...      ...     ...          ...
2020-04-21 04:48:00      619.8  5315.8    737.8  24735.4   741.0       3956.8
2020-04-21 09:36:00      623.6  5334.6    745.6  24822.8   770.0       3984.6
2020-04-21 14:24:00      627.4  5353.4    753.4  24910.2   799.0       4012.4
2020-04-21 19:12:00      631.2  5372.2    761.2  24997.6   828.0       4040.2
2020-04-22 00:00:00      635.0  5391.0    769.0  25085.0   857.0       4068.0

                     Portugal    Spain  Sweden  Switzerland  Turkey      USA  \
date
2020-02-26 00:00:00       NaN      NaN     NaN          NaN     NaN      NaN
2020-02-26 04:48:00       NaN      NaN     NaN          NaN     NaN      NaN
2020-02-26 09:36:00       NaN      NaN     NaN          NaN     NaN      NaN
2020-02-26 14:24:00       NaN      NaN     NaN          NaN     NaN      NaN
2020-02-26 19:12:00       NaN      NaN     NaN          NaN     NaN      NaN
...                       ...      ...     ...          ...     ...      ...
2020-04-21 04:48:00     766.6  21369.0  1799.4       1484.2  2282.4  44883.2
2020-04-21 09:36:00     771.2  21456.0  1833.8       1490.4  2305.8  45319.4
2020-04-21 14:24:00     775.8  21543.0  1868.2       1496.6  2329.2  45755.6
2020-04-21 19:12:00     780.4  21630.0  1902.6       1502.8  2352.6  46191.8
2020-04-22 00:00:00     785.0  21717.0  1937.0       1509.0  2376.0  46628.0

                     United Kingdom
date
2020-02-26 00:00:00             NaN
2020-02-26 04:48:00             NaN
2020-02-26 09:36:00             NaN
2020-02-26 14:24:00             NaN
2020-02-26 19:12:00             NaN
...                             ...
2020-04-21 04:48:00         17532.6
2020-04-21 09:36:00         17687.2
2020-04-21 14:24:00         17841.8
2020-04-21 19:12:00         17996.4
2020-04-22 00:00:00         18151.0

[281 rows x 20 columns], interpolate_period=True, steps_per_period=5, period_length=500, period_fmt='%d/%m/%Y', figsize=array([6.5, 3.5]), title=None, fig=<Figure size 936x504 with 1 Axes>, cmap='dark24', tick_label_size=7, period_label={'x': 0, 'y': 0}, period_summary_func=None, fixed_max=False, dpi=144, writer=None, enable_progress_bar=False, kwargs={'rotatelabels': True})

In [22]:
from IPython.display import Image
Image(url='examples/example-pie-chart.gif')

# Bubble Charts
Bubble charts are generated from a multi-indexed dataframes. Where the index is the time period (optional) and the axes are defined with x_data_label & y_data_label which should be passed a string in the level 0 column labels.

See an example multi-indexed dataframe at: https://github.com/JackMcKew/pandas_alive/tree/master/data/multi.csv

When you set color_data_label= to a df column name, pandas_alive will automatically add a colorbar.

In [23]:
import pandas_alive

multi_index_df = pd.read_csv("data/multi.csv", header=[0, 1], index_col=0)

multi_index_df

                  Cases                                               ...  \
postcode              0 1871 2000 2007 2008 2009 2010 2011 2012 2015  ...
notification_date                                                     ...
22/01/2020            0    0    0    0    0    0    0    0    0    0  ...
24/01/2020            0    0    0    0    0    0    0    0    0    0  ...
25/01/2020            0    0    0    0    0    0    0    0    0    0  ...
30/01/2020            0    0    0    0    0    0    0    0    0    0  ...
21/02/2020            0    0    0    0    0    0    1    0    0    0  ...
...                 ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
5/05/2020             0    0    0    0    0    0    0    0    0    0  ...
6/05/2020             0    0    0    0    0    0    0    0    0    0  ...
7/05/2020             0    0    0    0    0    0    0    0    0    0  ...
8/05/2020             0    0    0    0    0    0    0    0    0    0  ...
9/05/2020             0    0    0    0    0    0    0    0    0    0  ...

                    Longitude                                                  \
postcode                 5061        5092        5114        5158        7008
notification_date
22/01/2020         153.592843  153.592843  153.592843  153.592843  153.592843
24/01/2020         153.592843  153.592843  153.592843  153.592843  153.592843
25/01/2020         153.592843  153.592843  153.592843  153.592843  153.592843
30/01/2020         153.592843  153.592843  153.592843  153.592843  153.592843
21/02/2020         153.592843  153.592843  153.592843  153.592843  153.592843
...                       ...         ...         ...         ...         ...
5/05/2020          153.592843  153.592843  153.592843  153.592843  153.592843
6/05/2020          153.592843  153.592843  153.592843  153.592843  153.592843
7/05/2020          153.592843  153.592843  153.592843  153.592843  153.592843
8/05/2020          153.592843  153.592843  153.592843  153.592843  153.592843
9/05/2020          153.592843  153.592843  153.592843  153.592843  153.592843


postcode                 7170        7320        8888        9990        9999
notification_date
22/01/2020         153.592843  153.592843  153.592843  153.592843  153.592843
24/01/2020         153.592843  153.592843  153.592843  153.592843  153.592843
25/01/2020         153.592843  153.592843  153.592843  153.592843  153.592843
30/01/2020         153.592843  153.592843  153.592843  153.592843  153.592843
21/02/2020         153.592843  153.592843  153.592843  153.592843  153.592843
...                       ...         ...         ...         ...         ...
5/05/2020          153.592843  153.592843  153.592843  153.592843  153.592843
6/05/2020          153.592843  153.592843  153.592843  153.592843  153.592843
7/05/2020          153.592843  153.592843  153.592843  153.592843  153.592843
8/05/2020          153.592843  153.592843  153.592843  153.592843  153.592843
9/05/2020          153.592843  153.592843  153.592843  153.592843  153.592843

[78 rows x 1323 columns]

In [24]:

multi_index_df.index = pd.to_datetime(multi_index_df.index, dayfirst=True)

map_chart = multi_index_df.plot_animated(
    kind="bubble",
    filename="examples/example-bubble-chart.gif",
    x_data_label="Longitude",
    y_data_label="Latitude",
    size_data_label="Cases",
    color_data_label="Cases",
    vmax=5, steps_per_period=3, interpolate_period=True, period_length=500,
    dpi=100
)

Generating BubbleChart, plotting ['Cases', 'Latitude', 'Longitude']

In [25]:
from IPython.display import Image
Image(url='examples/example-bubble-chart.gif')

# Multiple Charts
pandas_alive supports multiple animated charts in a single visualisation.

Create a list of all charts to include in animation

Use animate_multiple_plots with a filename and the list of charts (this will use matplotlib.subplots)

Done!

In [26]:
import pandas_alive

covid_df = pandas_alive.load_dataset()

animated_line_chart = covid_df.diff().fillna(0).plot_animated(
    kind='line', period_label=False, add_legend=False)

animated_bar_chart = covid_df.plot_animated(n_visible=10)

pandas_alive.animate_multiple_plots('examples/example-bar-and-line-chart.gif', [animated_bar_chart, animated_line_chart],
                                    enable_progress_bar=True)

Generating LineChart, plotting ['Belgium', 'Brazil', 'Canada', 'China', 'France', 'Germany', 'India', 'Indonesia', 'Iran', 'Ireland', 'Italy', 'Mexico', 'Netherlands', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'USA', 'United Kingdom']
Generating BarChartRace, plotting ['Belgium', 'Brazil', 'Canada', 'China', 'France', 'Germany', 'India', 'Indonesia', 'Iran', 'Ireland', 'Italy', 'Mexico', 'Netherlands', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'USA', 'United Kingdom']

  0%|          | 0/281 [00:00<?, ?it/s]

In [27]:
from IPython.display import Image
Image(url='examples/example-bar-and-line-chart.gif')

# My data

In [31]:
import pandas as pd
import pandas_alive
col_list = ["date"  , "Blood colour index",'covid infection probability']
elec_df = pd.read_csv("./assignment_mle.csv",
                      thousands=',', index_col="date",  
                      nrows=100 , 
                      usecols=col_list)

elec_df.columns
elec_df.describe().T

elec_df.head()
elec_df.plot_animated(filename='examples/example-barv-chart_elec_df.gif'
, title='Covid 19')

Index(['Blood colour index', 'covid infection probability'], dtype='object')

,count,mean,std,min,25%,50%,75%,max
Blood colour index,100.0,12.522644,11.936526,-23.336059,6.484150,13.766707,19.451701,38.696428
covid infection probability,100.0,30.642209,18.346094,-4.454388,15.487839,30.236895,43.777505,76.847942

        Blood colour index  covid infection probability
date
4/1/21           24.538626                    27.388075
4/1/21           16.660262                    48.188489
4/1/21            8.409131                    37.279689
4/1/21           13.935921                    32.792376
4/1/21           20.683282                    48.695297

Generating BarChartRace, plotting ['Blood colour index', 'covid infection probability']

BarChartRace(df=        Blood colour index  covid infection probability
date
4/1/21           24.538626                    27.388075
NaN              22.962953                    31.548158
NaN              21.387281                    35.708241
NaN              19.811608                    39.868323
NaN              18.235935                    44.028406
...                    ...                          ...
NaN              12.657929                    27.135634
NaN               8.323795                    31.292811
NaN               3.989660                    35.449989
NaN              -0.344474                    39.607166
4/3/21           -4.678608                    43.764344

[496 rows x 2 columns], interpolate_period=True, steps_per_period=5, period_length=500, period_fmt='%d/%m/%Y', figsize=array([6.5, 3.5]), title='Covid 19', fig=<Figure size 936x504 with 1 Axes>, cmap='dark24', tick_label_size=7, period_label=True, period_summary_func=None, fixed_max=False, dpi=144, writer=None, enable_progress_bar=False, kwargs={}, orientation='h', sort='desc', label_bars=True, bar_label_size=7, n_visible=2, fixed_order=False, perpendicular_bar_func=None)

In [29]:
from IPython.display import Image
Image(url='./examples/example-barv-chart_elec_df.gif')